/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* table, th, td, tr {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
}*/

.panel {
  margin-bottom: 0px !important;
}

.window {
  background-color: whitesmoke;
  border-bottom: 0.1em solid black;
  border-top: 0.1em solid black;
  margin-bottom: 2em;
  margin-left: 1px;
}

input[type="email"].ng-invalid{
  border-left: 5px solid #ff0000;
  background-color: #FFEBD6;
}
input[type="email"].ng-valid{
  background-color: #FFFFFF;
  border-left: 5px solid #088b0b;
}
input[type="email"]:disabled.ng-valid{
  background-color: #efefef;
  border: 1px solid #bbb;
}

input[type="text"].ng-invalid{
  border-left: 5px solid #ff0000;
  background-color: #FFEBD6;
}
input[type="text"].ng-valid{
  background-color: #FFFFFF;
  border-left: 5px solid #088b0b;
}
input[type="text"]:disabled.ng-valid{
  background-color: #efefef;
  border: 1px solid #bbb;
}

input[type="password"].ng-invalid{
  border-left: 5px solid #ff0000;
  background-color: #FFEBD6;
}
input[type="password"].ng-valid{
  background-color: #FFFFFF;
  border-left: 5px solid #088b0b;
}
input[type="password"]:disabled.ng-valid{
  background-color: #efefef;
  border: 1px solid #bbb;
}

#pwdontmatch{
  color:red;
}

#pwmatch{
  color:green;
}

#nametooshort{
  color:red;
}

#closebutton{
  color:red;
}
