<h2>Delivery address</h2>
<h4>Step 2 of 3</h4>
<div class="container">
    <form name="addressInfo" ng-submit="" novalidate>
        <div class="form-group">
            <label for="city">City:</label>
            <input name="city" id="city" class="form-control" type="text" ng-model="buyer.city" required>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input name="address" id="address" class="form-control" type="text" ng-model="buyer.address" required>
        </div>
        <div class="form-group">
            <label for="notes">Notes for courier:</label>
            <input name="notes" id="notes" class="form-control" type="text" ng-model="buyer.notes" required>
            <div ng-show="addressInfo.notes.$invalid">Ex. Best time of delivery</div>
        </div>
        <div>
            <input ng-disabled="addressInfo.$invalid" ng-click="submited()" ng-show="!next" type="submit" class="btn btn-primary" value="Submit">
            <div class="alert alert-success" role="alert" ng-show="next">Submited!</div>
        </div>
        <p>
        <div class="row">
            <div  class="col-md-1"><a class="btn btn-primary" style="text-align: right" href="#!/cart/step1">Back</a></div>
            <div ng-show="next" class="col-md-11 text-right"><a class="btn btn-primary" style="text-align: right" href="#!/cart/step3">Next</a></div>
        </div>
        </p>
    </form>
</div>