<!--<pre>{{filmai | json}}</pre>-->

<table class="table table-bordered">
    <tr>
        <th colspan="3">Movies</th>
    </tr>
    <tr valign="top" ng-repeat="filmas in filmai | orderBy: 'order' track by $index" ng-init="filmas.isClosed = true">
        <td width="300">
            <div id="movie">
                <b>{{filmas.name}}</b> : {{filmas.year}}
                <p>
                    <button class="btn btn-primary" ng-click="switchMovies(filmas.order, -1)">Up</button>
                </p>
                <p>
                    <button class="btn btn-primary" ng-click="switchMovies(filmas.order, 1)">Down</button>
                </p>
                <p>
                    <h3>Price: €{{filmas.price}}</h3>
                Amount:<input ng-model="filmas.amount" class="btn btn-default btn-number" type="number" min="1" value="1">
                </p>
                <p>
                <button class="btn btn-primary" ng-click="whichMovie(filmas.name);addMovie(filmas.poster,filmas.name,filmas.amount,filmas.price)">Add to cart</button>
                </p>
                <p>
                    <div class="alert alert-success" role="alert" ng-show="selectedMovie == filmas.name && successCartTextAlert">{{successCartTextAlert}}</div>
                    <div class="alert alert-danger" role="alert" ng-show="selectedMovie == filmas.name && errorCartTextAlert">{{errorCartTextAlert}}</div>

                </p>

            </div>
        </td>
        <td width="250"><a href="{{filmas.page}}">
            <img ng-src='DB/{{filmas.poster}}' width="250"/>
        </a>
        </td>
        <td>
            <button class="btn btn-primary" ng-click="filmas.isClosed = !filmas.isClosed">{{!filmas.isClosed ? 'Show less': 'Show more'}}
            </button>
            <table class="table" valign="top" ng-if="filmas.actors && !filmas.isClosed">
                <tr>
                    <th>Actors</th>
                </tr>
                <tr ng-repeat='actor in filmas.actors'>
                    <td>
                        <div id="actors">
                            <a href="{{actor.page}}">
                                <img ng-src='{{actor.photo}}' width="100"/>
                            </a> {{actor.name}}
                            <button class="btn btn-primary" ng-click="open(actor)">Show More</button>
                        </div>
                    </td>
                </tr>
                <!--<tr>
                    <td><button ng-click="filmas.isClosed = !filmas.isClosed">X</button></td>
                </tr>-->
            </table>
        </td>
    </tr>
</table>

<div ng-if="!filmai">Loading movies ...</div>